# creat and change
mkcd (){
    mkdir $1 && cd $1
}

parseLog (){
    cat *log* | grep "sendMail" > sendMail.txt && cat *log* | grep "Exception" > Exception.txt && cat *log* | grep "loadUserByUsername" > loadUserByUsername.txt  && cat *log* | grep "GMBatch" >  GMBatch.txt
}
